* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img1/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo img {
    width: 150px;
    margin-left: 2rem;
    margin-top: 1rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5rem;
}

.btn button {
    margin: 1rem;
}

.select {
    border: 1px solid;
    font-size: 15px;
    background: transparent;
    color: #fff;
    padding: 5px 20px;
}

.btn2 {
    background-color: #e50914;
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

span {
    display: block;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-content h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 55px;
}

.header-content h3 {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 13px;
}

.header-content p {
    font-weight: 400;
    padding: 10px;
}

.search {
    display: flex;
}

.search input {
    padding: 15px;
    width: 60%;
    outline: none;
}

.search button {
    width: 30%;
    font-size: 1.3rem;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
}

hr {
    color: #777;
    border: 2px solid;
}

/* -------------feature------------ */


.feature {
    padding: 50px 10%;

}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.feature-img {
    flex-basis: 50%;
    margin-bottom: 20px;

}

.feature-img img {
    display: block;
    width: 90%;
    margin: auto;
}

.text-col h2 {
    font-size: 2.5rem;
    font-weight: 550;
    margin-bottom: 1.1rem;
}

.text-col p {
    font-size: 18px;
    font-weight: 300;
}

/* ----------------section-----------*/

.faq h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}

.ul {
    margin: 60px auto;
    width: 100%;
    max-width: 768px;
}

.ul li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.ul li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.ul li label::after {
    content: "+";
    font-size: 35px;
    position: absolute;
    right: 20px;
}

input[type="radio"] {
    display: none;
}

.content {
    background: #303030;
    font-size: 25px;
    padding: 0 20px;
    font-weight: 400;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

li input[type="radio"]:checked+label+.content {
    max-height: 768px;
    padding: 10px;
}

.faq p {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.search-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search-1 input {
    padding: 15px;
    width: 40%;
    outline: none;
    line-height: 2.5rem;
}

.search-1 button {
    width: 10%;
    font-size: 1.3rem;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
}



/* ------------------footer------------ */

.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer h2 a {
    color: #777;
    text-decoration: none;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding: 0px 60px 20px 10px
}

.footer-col a {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    color: #777;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
}

.lang-1 {
    margin-left: 14.2rem;
    margin-top: 10px;
}

.select-1 {
    font-size: 15px;
    background: transparent;
    color: #777;
    padding: 15px 25px;
}

.last {
    margin-left: 14.2rem;
    margin-top: 15px;
    font-size: 13px;
    margin-bottom: 25px;
    color: #777;
}

/* -------------------media query-------------- */

@media only screen and (max-width: 768px) {
    .logo img {
        width: 90px;
    }

    .btn {
        padding: 2px;
    }

    .header-content h1 {
        font-size: 25px;
    }

    .search button {
        font-size: 15px;
        padding: 5px;
    }

    .text-col,
    .feature-img {
        flex-basis: 100%;

    }

    #row-2,
    #row-4 {
        flex-direction: column-reverse;
        font-size: 50px;
    }

    .faq h2 {
        font-size: 30px;
    }

    .content {
        font-size: 10px;
    }

    .search-1 button {
        font-size: 10px;
    }

}